.many__works{
	width: 100%;
	span{
		display: flex;
		column-gap: 20px;
		justify-content: center;
		padding-top: 120px;
		p{
			width: 450px;
			font-weight: 500;
			font-size: 16px;
			line-height: 170%;
			text-align: right;
			color: #989898;
		}
		h2{
			width: 450px;
			font-weight: 700;
			font-size: 38px;
			line-height: 120%;
			letter-spacing: 0.0125em;
			text-transform: uppercase;
			color: #0D0D0D;
		}
	}
	.many__section{
		display: flex;
		column-gap:20px;
		justify-content: center;
		padding-top: 60px;
		article:nth-child(1){
			width: 460px;
			height: 420px;
			background: linear-gradient(90deg, #E2D6F8 0%, #D2DEFD 100%);
			box-shadow: 8px 8px 16px rgba(97, 97, 97, 0.1);
			border-radius: 10px;
		}
		article{
			width: 460px;
			height: 330px;
			background: #FFFFFF;
			box-shadow: 4px 4px 8px rgba(145, 145, 145, 0.1);
			border-radius: 10px;
			padding: 40px 60px;
			h3{
				font-weight: 500;
				font-size: 38px;
				line-height: 120%;
				letter-spacing: 0.0125em;
				color: #0D0D0D;
			}
			p{
				font-weight: 500;
				font-size: 16px;
				line-height: 170%;
				color: #0D0D0D;
			}
			span{
				display: flex;
				column-gap:10px;
				padding-top: 40px;
				h2{
					font-weight: 700;
					font-size: 51px;
					line-height: 120%;
					letter-spacing: 0.0125em;
					text-transform: uppercase;
					color: #4A4856;
				}
			}
			span{
				p{
					padding-right: 100px;
					font-weight: 500;
					font-size: 16px;
					line-height: 170%;
					color: #0D0D0D;
				}
			}
			button{
				display: flex;
				align-items: center;
				column-gap:20px;
				background: linear-gradient(90deg, #B541BB 0%, #380AF4 103.46%);
				border: 1px solid #0D0D0D;
				border-radius: 5px;
				padding: 20px 40px;
				margin-top: 40px;
				p{
					font-weight: 700;
					font-size: 16px;
					line-height: 170%;
					letter-spacing: 0.015em;
					text-transform: uppercase;
					color: #FFFFFF;
				}
			}
		}
	}
}